// ==========================================================
//                         Base Styles
// ==========================================================

body
    color: $dark
    line-height: 20px $i
    font:
        family: $poppins $i
        size: $fs-12
    




// Typography
// ==========================================================

// Headings
h1,
h2,
h3,
h4,
h5,
h6
    font:
        family: $poppins $i
        weight: $fw-500 $i

    letter-spacing: 0.5px

// Inputs
#{$all-text-inputs}
    font:
        family: $poppins $i
        size: $fs-12 $i
        weight: $fw-500

// Labels Paragraphs Links
label,
p,
a,
small
    font:
        family: $poppins $i
        size: $fs-12 $i

small
    font-weight: $fw-500 $i
