// --------------------------------------------------------------------------------
//                                  GLOBAL CUSTOMS
// --------------------------------------------------------------------------------




// TITLE CUSTOMS
// --------------------------------------------------------------------------------
*[class*="title"]
    font-weight: $fw-500
    letter-spacing: 0.5px


.card-title
    font:
        size: $fs-12 $i
        weight: normal $i




// BTN CUSTOMS
// --------------------------------------------------------------------------------
.btn
    font:
        family: $poppins $i
        size: $fs-12 $i
        weight: $fw-500 $i

    letter-spacing: 0 $i
    border-radius: 0 $i

.btn-flat
    text-transform: capitalize $i




// FORMS CUSTOMS
// --------------------------------------------------------------------------------

.form-control
    font-size: $fs-12 $i




// TOPBAR CUSTOMS
// --------------------------------------------------------------------------------
header.topbar
    padding-right: 18px $i

.topbar-title
    font-size: $fs-16 $i


// breadcrumbs
.breadcrumb
    margin-bottom: 0

    a
        color: $primary $i
        font: 
            size: $fs-12 $i
            weight: $fw-500 $i

        letter-spacing: 0.5px

        i[class^="ti"]
            font-size: $fs-14 $i


// global search engine area
.lookup input
    border: none $i
    color: $info $i
    font:
        size: $fs-12
        weight: $fw-500

    +placeholder
        font-weight: normal $i


// hide dropdown grid arrow pointer
.dropdown-grid:before,
.dropdown-grid:after
    border: none $i



// SIDEBAR CUSTOMS
// --------------------------------------------------------------------------------

.sidebar
    +linear-gradient(180deg, $gleent 50%, $gleent-light, $fallback: $gleent)

    .sidebar-header
        background: $gleent

    .menu > li.active > .menu-link
        background: tint($gleent, 30%) $i


// Payroll sidebar
#PayrollSidebar
    +linear-gradient(180deg, $gleent-payroll 50%, $gleent-payroll-light, $fallback: $gleent-payroll)

    .sidebar-header
        background: $gleent-payroll

    .menu > li.active > .menu-link
        background: tint($gleent-payroll, 30%) $i




// TOOLTIP CUSTOMS
// --------------------------------------------------------------------------------
.tooltip .tooltip-inner
    border-radius: 0 $i
    font-weight: $fw-500 $i




// TOAST CUSTOMS
// --------------------------------------------------------------------------------
.toast
    background: tint($yellow, 60%) $i
    justify-content: center $i

    .text
        color: $dark $i
        margin-right: 0
        font:
            size: $fs-12 $i
            weight: $fw-500 $i



// TABLES STYLE
// --------------------------------------------------------------------------------
.table 
    thead > tr > th 
        font:
            size: $fs-12 $i
            weight: $fw-500 $i

    tbody > tr > td
        font:
            size: $fs-12 $i
            weight: $fw-500 $i

table.dataTable
    border-collapse: collapse $i

.dataTables_info
    font
        size: $fs-12 $i
        weight: $fw-500 $i
    color: $dark $i
        