body {
  color: #465161;
  line-height: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500; }

label,
p,
a,
small {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important; }

small {
  font-weight: 500 !important; }

*[class*="title"] {
  font-weight: 500;
  letter-spacing: 0.5px; }

.card-title {
  font-size: 12px !important;
  font-weight: normal !important; }

.btn {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  border-radius: 0 !important; }

.btn-outline{float: right;}

.add {width: 90px; float: right;}
.btn-flat {
 
  text-transform: capitalize !important; }

 
.hide-dropdown-menu {display: none;}  /*to custom*/

 

.update-btn{color:#48B0F7; border: #48B0F7 1px solid;}

.update-btn:hover{color:white; background-color: #48B0F7;}

.form-control {
  font-size: 12px !important; }

header.topbar {
  padding-right: 18px !important; }

.topbar-title {
  font-size: 16px !important; }

.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb a {
    color: #33cabb !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px; }
    .breadcrumb a i[class^="ti"] {
      font-size: 14px !important; }

.lookup input {
  border: none !important;
  color: #48b0f7 !important;
  font-size: 12px;
  font-weight: 500; }
  .lookup input::-webkit-input-placeholder {
    font-weight: normal !important; }
  .lookup input::-moz-placeholder {
    font-weight: normal !important; }
  .lookup input:-moz-placeholder {
    font-weight: normal !important; }
  .lookup input:-ms-input-placeholder {
    font-weight: normal !important; }

.dropdown-grid:before,
.dropdown-grid:after {
  border: none !important; }
.dropdown-menu{position: absolute; will-change: top, left; top: 36px; left: 0px;}
.form-control {
    position: relative;
    display: inline-block;
}

.sidebar {
  background-color: #2f9be7;
  background-image: -webkit-gradient(linear,left top, left bottom,color-stop(50%, #2f9be7), to(#30c5cc));
  background-image: linear-gradient(180deg,#2f9be7 50%, #30c5cc); }
  .sidebar .sidebar-header {
    background: #2f9be7; }
  .sidebar .menu > li.active > .menu-link {
    background: #6db9ee !important; }

#PayrollSidebar {
  background-color: #4cd964;
  background-image: -webkit-gradient(linear,left top, left bottom,color-stop(50%, #4cd964), to(#94e8a2));
  background-image: linear-gradient(180deg,#4cd964 50%, #94e8a2); }
  #PayrollSidebar .sidebar-header {
    background: #4cd964; }
  #PayrollSidebar .menu > li.active > .menu-link {
    background: #82e493 !important; }

.tooltip .tooltip-inner {
  border-radius: 0 !important;
  font-weight: 500 !important; }

.toast {
  text-align: center;
  background: #feee99;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  .toast .text {
    margin-top: 10px;
    min-height: 30px;
    max-width: 100%;
    margin-right: 0px;
    color: #465161 !important;
    font-size: 17px !important;
    font-weight: 500 !important; }

.table thead > tr > th {
  font-size: 12px !important;
  font-weight: 500 !important; }
.table tbody > tr > td {
  font-size: 12px !important;
  font-weight: 500 !important; }

table.dataTable {
  border-collapse: collapse !important; }
.dataTable-hide{display: none;
}

.dataTables_filter {display: none;}

.dataTables_info {
  color: #465161 !important; }
  .dataTables_info font {
    size: 12px !important;
    weight: 500 !important; }

#ShiftInfo .card-title {
  font-size: 14px !important;
  font-weight: 500 !important; }
#ShiftInfo table#ShiftInfoTable thead > tr > th {
  color: #48b0f7 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }
#ShiftInfo table#ShiftInfoTable tbody > tr > td {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }

#EmployeeSummary .media > span {
  color: #465161 !important;
  font-size: 14px !important;
  font-weight: 500 !important; }
#EmployeeSummary h6 {
  margin-bottom: 0 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }
#EmployeeSummary i[class*="ti"] {
  font-size: 16px !important; }

#TodoList .card-title {
  font-size: 14px !important;
  font-weight: 500 !important; }
#TodoList .custom-control-label {
  color: #33cabb !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: oblique !important; }

#DashboardCalendar .card-header > .nav a {
  font-size: 12px !important;
  font-weight: 500 !important; }
#DashboardCalendar .card-header > .nav .active {
  color: #48b0f7 !important; }
#DashboardCalendar table thead > tr > th {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }
#DashboardCalendar table tbody > tr > td {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }

#LeaveRequest .card-title {
  font-size: 14px !important;
  font-weight: 500 !important; }
#LeaveRequest table#LeaveRequestTable thead > tr > th {
  color: #48b0f7 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }
#LeaveRequest table#LeaveRequestTable tbody > tr > td {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }

#OptionHeader .bootstrap-datetimepicker-widget .datepicker-days > table tbody tr {
  height: 30px !important; }
  #OptionHeader .bootstrap-datetimepicker-widget .datepicker-days > table tbody tr .active {
    border-radius: 0 !important;
    background: #f3f9ff !important;
    font-weight: 500 !important;
    color: #48b0f7 !important; }
  #OptionHeader .bootstrap-datetimepicker-widget .datepicker-days > table tbody tr:hover {
    background-color: #eee; }
  #OptionHeader .bootstrap-datetimepicker-widget .datepicker-days > table tbody tr .today {
    color: #48b0f7 !important; }
    #OptionHeader .bootstrap-datetimepicker-widget .datepicker-days > table tbody tr .today:before {
      border: none !important; }
#OptionHeader #WeeklyEntry {
  width: 250px !important; }
  #OptionHeader #WeeklyEntry .input-group-text {
    border-radius: 0 !important; }
  #OptionHeader #WeeklyEntry input {
    border-radius: 0 !important;
    color: #48b0f7;
    font-weight: 500 !important; }
    #OptionHeader #WeeklyEntry input::-webkit-input-placeholder {
      color: #48b0f7;
      font-weight: 500 !important; }
    #OptionHeader #WeeklyEntry input::-moz-placeholder {
      color: #48b0f7;
      font-weight: 500 !important; }
    #OptionHeader #WeeklyEntry input:-moz-placeholder {
      color: #48b0f7;
      font-weight: 500 !important; }
    #OptionHeader #WeeklyEntry input:-ms-input-placeholder {
      color: #48b0f7;
      font-weight: 500 !important; }

#SchedulesCard > .card-body table#ScheduleTable {
  border-collapse: separate !important;
  border-spacing: 3px !important; }
  #SchedulesCard > .card-body table#ScheduleTable thead > tr > th {
    line-height: 15px !important;
    background: #f3f9ff;
    vertical-align: middle !important;
    font-size: 12px !important;
    font-weight: 500 !important; }
    #SchedulesCard > .card-body table#ScheduleTable thead > tr > th:nth-child(1) {
      color: #868e96 !important; width:15%;}
  #SchedulesCard > .card-body table#ScheduleTable thead > tr > .date {
    width: 13% !important; }
    #SchedulesCard > .card-body table#ScheduleTable thead > tr > .date a {
      color: #465161; }
      #SchedulesCard > .card-body table#ScheduleTable thead > tr > .date a:hover {
        color: #48b0f7 !important; }
    #SchedulesCard > .card-body table#ScheduleTable thead > tr > .date .holiday {
      color: #ea3a55 !important; }
  #SchedulesCard > .card-body table#ScheduleTable thead > .date-status > th {
    height: 15px !important; }
    #SchedulesCard > .card-body table#ScheduleTable thead > .date-status > th a {
      color: #ea3a55 !important;
      font-size: 11px !important;
      font-weight: 500 !important; }
      #SchedulesCard > .card-body table#ScheduleTable thead > .date-status > th a span {
        padding-left: 5px !important; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr > td {
    line-height: 15px !important;
    height: 50px !important;
    color: #465161 !important;
    font-size: 12px;
    font-weight: 500;}
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr > .emp-name {
    padding: 5px 12px !important; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr > .emp-name a {
      color: #465161;
      font-size: 12px !important;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #SchedulesCard > .card-body table#ScheduleTable tbody > tr > .emp-name a:hover {
        color: #33cabb !important; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .emp-sched {
    padding: 0px 0px !important; } /* 5px 3px previously */
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .emp-sched a {
      font-size: 11px !important;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #SchedulesCard > .card-body table#ScheduleTable tbody > tr .emp-sched a .media-body {
        margin: 0 12px !important; }
      #SchedulesCard > .card-body table#ScheduleTable tbody > tr .emp-sched a p {
        font-size: 11px !important; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .day-shift > a {
    border: 1px solid #00b2d7;
    background: #e6f7fb;
    color: #48b0f7; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .night-shift > a {
    border: 1px solid #926dde;
    background: #f4f0fc;
    color: #926dde; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .day-off > a {
    border: 1px solid #ea3a55;
    background: #fdebee;
    color: #f96868; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .day-off > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .leave > a {
    border: 1px solid #e4e7ea;
    background: #fff;
    color: #465161; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .leave > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .no-sched > a {
    border: none;
    background: #fff;
    color: #fff; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .no-sched > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .no-sched > a:hover {
      color: #465161; }
  #SchedulesCard > .card-body table#ScheduleTable tbody > tr .w-error > a {
    border: 1px solid #ff8548 !important;
    background: #fff3ed !important;
    color: #f2a654 !important; }
    #SchedulesCard > .card-body table#ScheduleTable tbody > tr .w-error > a .media-body {
      margin: 0 8px 0 0 !important; }

#AddSchedModal .card-body #NewScheduleTable thead > tr > th {line-height: 15px !important;background: #f3f9ff;vertical-align: middle !important;font-size: 12px !important;font-weight: 500 !important; }
#AddSchedModal .card-body #NewScheduleTable {border-collapse: separate !important;border-spacing: 3px !important; }
#AddSchedModal .card-body #NewScheduleTable thead > tr > th:nth-child(1) {color: #868e96 !important; width:15%;}
#AddSchedModal .card-body #NewScheduleTable thead > tr > .date {width: 13% !important; }
#AddSchedModal .card-body #NewScheduleTable thead > tr > .date a {color: #465161; }
#AddSchedModal .card-body #NewScheduleTable thead > tr > .date a:hover {color: #48b0f7 !important; }
#AddSchedModal .card-body #NewScheduleTable thead > tr > .date .holiday {color: #ea3a55 !important; }
#AddSchedModal .card-body #NewScheduleTable thead > .date-status > th {height: 15px !important; }
#AddSchedModal .card-body #NewScheduleTable thead > .date-status > th a {color: #ea3a55 !important;font-size: 11px !important;font-weight: 500 !important; }
#AddSchedModal .card-body #NewScheduleTable thead > .date-status > th a span {padding-left: 5px !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr > td {line-height: 15px !important;height: 50px !important;color: #465161 !important;font-size: 12px;font-weight: 500;}
#AddSchedModal .card-body #NewScheduleTable tbody > tr > .emp-name {padding: 5px 12px !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr > .emp-name a {color: #465161;font-size: 12px !important;height: inherit;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr > .emp-name a:hover {color: #33cabb !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .emp-sched {padding: 0px 0px !important; } /* 5px 3px previously */
#AddSchedModal .card-body #NewScheduleTable tbody > tr .emp-sched a {font-size: 11px !important;height: inherit;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .emp-sched a .media-body {margin: 0 12px !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .emp-sched a p {font-size: 11px !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .day-shift > a {border: 1px solid #00b2d7;background: #e6f7fb;color: #48b0f7; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .night-shift > a {border: 1px solid #926dde;background: #f4f0fc;color: #926dde; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .day-off > a {border: 1px solid #ea3a55;background: #fdebee;color: #f96868; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .day-off > a .media-body {display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;-webkit-box-pack: center !important;-ms-flex-pack: center !important;justify-content: center !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .leave > a {border: 1px solid #e4e7ea;background: #fff;color: #465161; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .leave > a .media-body {display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;-webkit-box-pack: center !important;-ms-flex-pack: center !important;justify-content: center !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .no-sched > a {border: none;background: #fff;color: #fff; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .no-sched > a .media-body {display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;-webkit-box-pack: center !important;-ms-flex-pack: center !important;justify-content: center !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .no-sched > a:hover {color: #465161; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .w-error > a {border: 1px solid #ff8548 !important;background: #fff3ed !important;color: #f2a654 !important; }
#AddSchedModal .card-body #NewScheduleTable tbody > tr .w-error > a .media-body {margin: 0 8px 0 0 !important; }
#AddSchedModal table tr th {width: 33.3% !important;}
.popover {
  font-family: "Poppins", sans-serif !important; }

#SchedOpt {
  border-radius: 0 !important;
  width: 450px !important; }
  #SchedOpt .arrow:after {
    border-bottom-color: #465161 !important; }
  #SchedOpt .close {
    text-shadow: none !important;
    opacity: 1 !important; }
  #SchedOpt .popover-header {
    background: #465161 !important;
    border-radius: 0 !important; }
  #SchedOpt .popover-title {
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 500 !important; }
  #SchedOpt .popover-content {
    padding: 12px !important; }
    #SchedOpt .popover-content #ShiftTempLink {
      color: #48b0f7 !important;
      font-size: 11px !important;
      font-weight: 500 !important; }
  #SchedOpt .popover-content-hidden {
    display: none; }
  #SchedOpt #AddShiftContent input[data-provide="clockpicker"] {
    margin: 10px 0;
    color: #48b0f7 !important;
    letter-spacing: 0 !important;
    padding: 8px 12px !important;
    font-size: 11px !important;
    font-weight: 500 !important; }
    #SchedOpt #AddShiftContent input[data-provide="clockpicker"]::-webkit-input-placeholder {
      color: #465161 !important; }
    #SchedOpt #AddShiftContent input[data-provide="clockpicker"]::-moz-placeholder {
      color: #465161 !important; }
    #SchedOpt #AddShiftContent input[data-provide="clockpicker"]:-moz-placeholder {
      color: #465161 !important; }
    #SchedOpt #AddShiftContent input[data-provide="clockpicker"]:-ms-input-placeholder {
      color: #465161 !important; }
  #SchedOpt #AddShiftContent .bootstrap-select {
    width: 100%; }
    #SchedOpt #AddShiftContent .bootstrap-select .dropdown-toggle {
      color: #465161 !important;
      letter-spacing: 0 !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      font-size: 11px !important;
      font-weight: 500 !important; }
  #SchedOpt #LeaveSchedOpt {
    margin-bottom: 0; }
    #SchedOpt #LeaveSchedOpt thead > tr > th {
      padding: 0;
      color: #868e96;
      font-size: 11px !important;
      font-weight: 500 !important; }
    #SchedOpt #LeaveSchedOpt tbody > tr > td {
      padding: 0;
      color: #465161;
      font-size: 11px !important;
      font-weight: 500 !important; }
      #SchedOpt #LeaveSchedOpt tbody > tr > td a {
        font-size: 11px !important;
        font-weight: 500 !important; }
      #SchedOpt #LeaveSchedOpt tbody > tr > td:nth-child(2) span {
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }

#SpecificSchedCard > .card-header h6#ScheduleDate {
  color: #465161 !important;
  font-weight: 500 !important; }
#SpecificSchedCard > .card-header button.btn-flat span {
  padding-left: 5px; }

#SpecificSchedCard > .card-body table#SpecificSchedTable {
  border-collapse: collapse !important; }
  #SpecificSchedCard > .card-body table#SpecificSchedTable thead > tr > th {
    line-height: 15px !important;
    color: #48b0f7 !important;
    font-size: 12px !important;
    font-weight: 500 !important; }
  #SpecificSchedCard > .card-body table#SpecificSchedTable thead > .day-status th {
    padding: 12px !important; }
  #SpecificSchedCard > .card-body table#SpecificSchedTable thead > .day-status th[class*="sorting"]:before,
  #SpecificSchedCard > .card-body table#SpecificSchedTable thead > .day-status th[class*="sorting"]:after {
    content: "" !important; }
  #SpecificSchedCard > .card-body table#SpecificSchedTable thead > .day-status a {
    color: #f2a654 !important; }
    #SpecificSchedCard > .card-body table#SpecificSchedTable thead > .day-status a span {
      padding-left: 5px; }
  #SpecificSchedCard > .card-body table#SpecificSchedTable tbody > tr > td {
    font-size: 12px;
    font-weight: 500;
    color: #465161 !important; }

#IndividualSchedCalendar .card-header {
  padding: 10px 20px !important; }
  #IndividualSchedCalendar .card-header .media-body {
    line-height: 20px !important; }
    #IndividualSchedCalendar .card-header .media-body p:nth-child(1) {
      color: #465161 !important;
      font-size: 12px !important;
      font-weight: 500 !important; }
    #IndividualSchedCalendar .card-header .media-body p:nth-child(2) {
      color: #868e96 !important;
      font-size: 11px !important;
      font-weight: 500 !important; }
  #IndividualSchedCalendar .card-header button.btn-flat span {
    padding-left: 5px; }
#IndividualSchedCalendar table thead > tr > th {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }
#IndividualSchedCalendar table tbody > tr > td {
  color: #465161 !important;
  font-size: 12px !important;
  font-weight: 500 !important; }

#AttendanceCard > .card-body table#AttendanceTable {
  border-collapse: separate !important;
  border-spacing: 3px !important; }
  #AttendanceCard > .card-body table#AttendanceTable thead > tr > th {
    line-height: 15px !important;
    background: #f3f9ff;
    vertical-align: middle !important;
    font-size: 12px !important;
    font-weight: 500 !important; }
    #AttendanceCard > .card-body table#AttendanceTable thead > tr > th:nth-child(1) {
      color: #868e96 !important; }
  #AttendanceCard > .card-body table#AttendanceTable thead > tr > .date {
    width: 13% !important; }
    #AttendanceCard > .card-body table#AttendanceTable thead > tr > .date a {
      color: #465161; }
      #AttendanceCard > .card-body table#AttendanceTable thead > tr > .date a:hover {
        color: #48b0f7 !important; }
    #AttendanceCard > .card-body table#AttendanceTable thead > tr > .date .holiday {
      color: #ea3a55 !important; }
  #AttendanceCard > .card-body table#AttendanceTable thead > .date-status > th {
    height: 15px !important; }
    #AttendanceCard > .card-body table#AttendanceTable thead > .date-status > th a {
      color: #ea3a55 !important;
      font-size: 11px !important;
      font-weight: 500 !important; }
      #AttendanceCard > .card-body table#AttendanceTable thead > .date-status > th a span {
        padding-left: 5px !important; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr > td {
    line-height: 15px !important;
    height: 100px !important;
    color: #465161 !important;
    font-size: 12px;
    font-weight: 500; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr > .emp-name {
    padding: 5px 12px !important; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr > .emp-name a {
      color: #465161;
      font-size: 10px !important;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #AttendanceCard > .card-body table#AttendanceTable tbody > tr > .emp-name a:hover {
        color: #33cabb !important; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched {
    padding: 5px 3px !important; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched a {
      font-size: 11px !important;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched a .media-body {
        margin: 0 12px !important; }
        #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched a .media-body .media-block-actions {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: start !important;
              -ms-flex-align: start !important;
                  align-items: flex-start !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 5px !important; }
          #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched a .media-body .media-block-actions p {
            margin-bottom: 0 !important; }
      #AttendanceCard > .card-body table#AttendanceTable tbody > tr .emp-sched a p {
        font-size: 11px !important; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .day-shift > a {
    border: 1px solid #00b2d7;
    background: #e6f7fb;
    color: #48b0f7; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .night-shift > a {
    border: 1px solid #926dde;
    background: #f4f0fc;
    color: #926dde; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .day-off > a {
    border: 1px solid #ea3a55;
    background: #fdebee;
    color: #f96868; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .day-off > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .leave > a {
    border: 1px solid #e4e7ea;
    background: #fff;
    color: #465161; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .leave > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .no-sched > a {
    border: none;
    background: #fff;
    color: #fff; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .no-sched > a .media-body {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .no-sched > a:hover {
      color: #465161; }
  #AttendanceCard > .card-body table#AttendanceTable tbody > tr .w-error > a {
    border: 1px solid #ff8548 !important;
    background: #fff3ed !important;
    color: #f2a654 !important; }
    #AttendanceCard > .card-body table#AttendanceTable tbody > tr .w-error > a .media-body {
      margin: 0 8px 0 0 !important; }

#DTRTable > thead > tr > th:first-child {
  padding: 8px !important; }

#DTRTable > tbody > tr > td:first-child {
  text-align: center !important; }

#DTRTable > thead > tr > th[class^="sorting"]:first-child:after,
#DTRTable > thead > tr > th[class^="sorting"]:first-child:before {
  content: "" !important; }

#TimesheetContent .card-header h6, #TimesheetContent .card-header strong {
  border-bottom: none !important;
  font-size: 12px;
  font-weight: 500 !important; }
#TimesheetContent table {
  border-collapse: collapse !important; }
  #TimesheetContent table thead tr th {
    font-size: 12px !important;
    font-weight: 500 !important; }
  #TimesheetContent table tbody tr td {
    color: #465161 !important;
    font-size: 12px !important;
    font-weight: 500; }

#modal-add-employee {display:block !important;}
#modal-add-sched {display:block !important;}

.modal-fill {
  background-image: url("../img/header/general-white.png"); }

#EmpTimesheetModal .modal-content {
  max-width: 1160px !important; }
#EmpTimesheetModal .modal-header .btn {
  text-transform: capitalize !important; }
#EmpTimesheetModal .modal-header h4 {
  font-size: 15px !important; }
#EmpTimesheetModal .modal-body .nav-tabs .active {
  background: transparent !important;
  border-right-width: 2px !important;
  font-weight: 500 !important;
  color: #48b0f7 !important; }
#EmpTimesheetModal .modal-body .media-body > p strong {
  font-size: 14px !important;
  font-weight: 500; }
#EmpTimesheetModal .modal-body .media-body > p:nth-child(2) {
  font-weight: 500 !important;
  color: #929daf; }
#EmpTimesheetModal .modal-body .tab-pane .divider {
  font-size: 12px !important;
  font-weight: 500 !important; }
#EmpTimesheetModal .modal-body .tab-pane table th,
#EmpTimesheetModal .modal-body .tab-pane table td {
  font-weight: 500 !important; }
#EmpTimesheetModal .modal-body .card-body table {
  border-collapse: collapse !important; }
  #EmpTimesheetModal .modal-body .card-body table thead > tr > th {
    border-bottom: none !important;
    font-size: 12px !important;
    font-weight: 500 !important; }
  #EmpTimesheetModal .modal-body .card-body table tbody > tr > td {
    font-size: 12px !important;
    font-weight: 500 !important; }
#EmpTimesheetModal #DTRResult {
  overflow: hidden !important;
  height: 500px !important; }

@media (max-width: 1000px) {
  #EmpTimesheetModal .modal-header {
    margin-bottom: 30px !important; }
    #EmpTimesheetModal .modal-header .media {
      padding: 0 15px !important; }
      #EmpTimesheetModal .modal-header .media .title {
        margin-left: 8px !important; }
      #EmpTimesheetModal .modal-header .media .btn-primary {
        margin-right: 8px !important; }

  #EmpTimesheetModal .modal-body {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
    #EmpTimesheetModal .modal-body div[class^=col] {
      max-width: 100% !important;
      min-height: auto !important;
      padding: 0 15px !important; }
    #EmpTimesheetModal .modal-body .card-body {
      padding: 0 15px !important; } }
.input-group-text {
  font-size: 12px !important;
  font-weight: 500 !important; }

.form-type-combine .form-group input[value],
.form-type-combine .form-group p {
  color: #465161 !important;
  font-weight: 600 !important; }

.bg-ui-general .header-action .nav-link {
  border-width: 2px !important; }

#ProfileAside .aside-body {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain; }

#ProfileAside .media {
  padding: 4px 16px !important; }

#ProfileAside .media .title {
  color: #465161 !important; }
  #ProfileAside .media .title font {
    size: 12px !important;
    weight: normal !important; }

#ProfileAside .active {
  background: transparent; }
  #ProfileAside .active .title,
  #ProfileAside .active span[class^="material-"] {
    color: #33cabb !important; }

#ProfileAside .card {
  border-bottom: none !important; }

#ProfileAside .card .text-center h5 {
  color: #465161 !important;
  font-size: 13px !important;
  font-weight: 500 !important; }
#ProfileAside .card .text-center span.text-muted {
  font-size: 12px !important;
  font-weight: 500 !important; }
  #ProfileAside .card .text-center span.text-muted:after {
    content: " | ";
    padding: 0 2.5px; }
  #ProfileAside .card .text-center span.text-muted:last-child:after {
    content: ""; }

#ProfileActions #ProfileExtraActions .btn {
  padding: 5px 16px !important; }

#EmpTags a.badge {
  border-radius: 0 !important;
  border: 1px solid #48b0f7 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #48b0f7 !important;
  background: transparent !important;
  padding: 5px 8px !important;
  margin: 3px 0 !important; }

.header-bar > .text-right a span {
  line-height: 1.5 !important; }

#PersonalInfoCard,
#EmploymentInfoCard,
#QualificationsCard,
#AttachmentCard,
#NotesCard {
  padding: 0 !important; }
  #PersonalInfoCard .nav-tabs-light-mode,
  #EmploymentInfoCard .nav-tabs-light-mode,
  #QualificationsCard .nav-tabs-light-mode,
  #AttachmentCard .nav-tabs-light-mode,
  #NotesCard .nav-tabs-light-mode {
    background: #48b0f7; }
    #PersonalInfoCard .nav-tabs-light-mode .nav-link,
    #EmploymentInfoCard .nav-tabs-light-mode .nav-link,
    #QualificationsCard .nav-tabs-light-mode .nav-link,
    #AttachmentCard .nav-tabs-light-mode .nav-link,
    #NotesCard .nav-tabs-light-mode .nav-link {
      color: #fff;
      font-size: 12px !important;
      font-weight: 600 !important; }
    #PersonalInfoCard .nav-tabs-light-mode a.active,
    #EmploymentInfoCard .nav-tabs-light-mode a.active,
    #QualificationsCard .nav-tabs-light-mode a.active,
    #AttachmentCard .nav-tabs-light-mode a.active,
    #NotesCard .nav-tabs-light-mode a.active {
      color: #48b0f7; }
  #PersonalInfoCard .form-type-combine > .card-title,
  #EmploymentInfoCard .form-type-combine > .card-title,
  #QualificationsCard .form-type-combine > .card-title,
  #AttachmentCard .form-type-combine > .card-title,
  #NotesCard .form-type-combine > .card-title {
    border-bottom: none !important; }
  #PersonalInfoCard .tab-pane .card-title strong,
  #EmploymentInfoCard .tab-pane .card-title strong,
  #QualificationsCard .tab-pane .card-title strong,
  #AttachmentCard .tab-pane .card-title strong,
  #NotesCard .tab-pane .card-title strong {
    font-weight: 500 !important; }
  #PersonalInfoCard .form-group label,
  #EmploymentInfoCard .form-group label,
  #QualificationsCard .form-group label,
  #AttachmentCard .form-group label,
  #NotesCard .form-group label {
    font-size: 11px !important;
    font-weight: 500 !important;
    color: #48b0f7 !important;
    text-transform: capitalize;
    letter-spacing: 0; }
  #PersonalInfoCard .hide-profile-actions,
  #EmploymentInfoCard .hide-profile-actions,
  #QualificationsCard .hide-profile-actions,
  #AttachmentCard .hide-profile-actions,
  #NotesCard .hide-profile-actions {
    display: none; }
  #PersonalInfoCard table,
  #EmploymentInfoCard table,
  #QualificationsCard table,
  #AttachmentCard table,
  #NotesCard table {
    border-collapse: collapse !important; }
  #PersonalInfoCard table thead tr th,
  #EmploymentInfoCard table thead tr th,
  #QualificationsCard table thead tr th,
  #AttachmentCard table thead tr th,
  #NotesCard table thead tr th {
    font-size: 12px !important;
    font-weight: 500 !important; }
  #PersonalInfoCard table tbody tr td,
  #EmploymentInfoCard table tbody tr td,
  #QualificationsCard table tbody tr td,
  #AttachmentCard table tbody tr td,
  #NotesCard table tbody tr td {
    font-size: 12px !important;
    font-weight: 500;
    color: #37404d !important; }
  #PersonalInfoCard .dataTables_paginate,
  #PersonalInfoCard .dataTables_info,
  #EmploymentInfoCard .dataTables_paginate,
  #EmploymentInfoCard .dataTables_info,
  #QualificationsCard .dataTables_paginate,
  #QualificationsCard .dataTables_info,
  #AttachmentCard .dataTables_paginate,
  #AttachmentCard .dataTables_info,
  #NotesCard .dataTables_paginate,
  #NotesCard .dataTables_info {
    display: none !important; }

#EmpHistory .input-group input[value],
#EmpHistory .input-group input[type="text"] {
  color: #48b0f7 !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important; }

#EmpHistoryTimeline small, #EmpHistoryTimeline time, #EmpHistoryTimeline .small {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important; }
#EmpHistoryTimeline .timeline-detail time,
#EmpHistoryTimeline .timeline-detail small {
  font-weight: 500 !important;
  color: #465161 !important; }
#EmpHistoryTimeline .timeline-content small a {
  font-weight: 500 !important;
  color: #33cabb !important; }

#ListView .card-body table thead tr th {
  font-size: 12px !important;
  font-weight: 500 !important; }

#EmpListTable > thead > tr > th:first-child,
#EmpListTable > thead > tr > th:last-child {
  padding-right: 8px !important; }

#EmpListTable > thead > tr > th[class^="sorting"]:first-child:after,
#EmpListTable > thead > tr > th[class^="sorting"]:last-child:after,
#EmpListTable > thead > tr > th[class^="sorting"]:first-child:before,
#EmpListTable > thead > tr > th[class^="sorting"]:last-child:before {
  content: "" !important; }

#ListView .card-body table {
  border-collapse: collapse !important; }
  #ListView .card-body table tbody tr td {
    font-size: 12px !important;
    font-weight: 500;
    color: #37404d !important; }
  #ListView .card-body table tbody tr .remarks {
    font-size: 11px !important; }

#ListView .card-body table tbody tr td {
  line-height: 18px !important; }

#ListView .card-body table tbody tr td:nth-child(2) {
  font-weight: 500 !important; }

#GridView .card-body .text-center p strong {
  font-size: 14px;
  font-weight: 500;
  color: #37404d; }

#GridView .card-body .text-center span {
  font-size: 12px;
  font-weight: 500;
  color: #868e96; }

.header-action .nav-link {
  font-weight: 500 !important;
  text-transform: capitalize;
  color: #465161 !important; }

.nav-item .active {
  color: #48b0f7 !important; }

@media (max-width: 560px) {
  header > .header-action > .btn-group {
    display: none !important; } }
@media (min-width: 561px) {
  header > .header-action > #ListUtilityBtn {
    display: none !important; } }
.main-container .ml-0,
.component-transition {
  -webkit-transition: all 300ms !important;
  transition: all 300ms !important; }

.aside-toggle {
  display: none; }

.aside-toggle .media-single span {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #37404d !important; }

.aside-toggle .nav li {
  margin: 2px 0 !important; }
  .aside-toggle .nav li a.nav-link {
    font-weight: 500 !important;
    font-style: oblique;
    color: #33cabb !important; }
  .aside-toggle .nav li .badge {
    font-size: 12px !important;
    color: #465161 !important; }
  .aside-toggle .nav li span {
    color: #465161 !important; }
    .aside-toggle .nav li span font {
      size: 12px !important;
      weight: 500 !important; }

[id*="qv"] input,
[id*="qv"] textarea,
[id*="qv"] select > option,
[id*="modal"] input,
[id*="modal"] textarea,
[id*="modal"] select > option {
  color: #48b0f7 !important; }
  [id*="qv"] input::-webkit-input-placeholder,
  [id*="qv"] textarea::-webkit-input-placeholder,
  [id*="qv"] select > option::-webkit-input-placeholder,
  [id*="modal"] input::-webkit-input-placeholder,
  [id*="modal"] textarea::-webkit-input-placeholder,
  [id*="modal"] select > option::-webkit-input-placeholder {
    font-weight: 400 !important;
    color: #37404d !important; }
  [id*="qv"] input::-moz-placeholder,
  [id*="qv"] textarea::-moz-placeholder,
  [id*="qv"] select > option::-moz-placeholder,
  [id*="modal"] input::-moz-placeholder,
  [id*="modal"] textarea::-moz-placeholder,
  [id*="modal"] select > option::-moz-placeholder {
    font-weight: 400 !important;
    color: #37404d !important; }
  [id*="qv"] input:-moz-placeholder,
  [id*="qv"] textarea:-moz-placeholder,
  [id*="qv"] select > option:-moz-placeholder,
  [id*="modal"] input:-moz-placeholder,
  [id*="modal"] textarea:-moz-placeholder,
  [id*="modal"] select > option:-moz-placeholder {
    font-weight: 400 !important;
    color: #37404d !important; }
  [id*="qv"] input:-ms-input-placeholder,
  [id*="qv"] textarea:-ms-input-placeholder,
  [id*="qv"] select > option:-ms-input-placeholder,
  [id*="modal"] input:-ms-input-placeholder,
  [id*="modal"] textarea:-ms-input-placeholder,
  [id*="modal"] select > option:-ms-input-placeholder {
    font-weight: 400 !important;
    color: #37404d !important; }

.quickview-title,
.modal-title {
  font-weight: normal !important; }

.bootstrap-select .btn span {
  font-weight: 600 !important;
  color: #465161 !important; }

.bootstrap-tagsinput [class*="badge"] {
  color: #48b0f7 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  border-radius: 0 !important;
  background: transparent !important;
  border: 1px solid #48b0f7 !important;
  margin: 5px 2px !important;
  padding: 3px 8px;
  height: auto; }

.header input[value] {
  color: #48b0f7 !important;
  font-weight: 500 !important; }

.header h4.card-title {
  font-size: 14px !important; }

#ListView .dataTables_wrapper .row:first-child {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important; }
  #ListView .dataTables_wrapper .row:first-child div:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  #ListView .dataTables_wrapper .row:first-child .dataTables_length {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

#ListView .dataTables_length label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.cr-boundary {
  width: 100% !important; }
/*# sourceMappingURL=custom.css.map */

/* FED Jade CSS */
.employee-department #search-textbox { display:inline-block !important; width: 70%;}
/* #SchedulesCard .card-body,.col-sm-12 {flex:0 !important;} */
#ScheduleTable_wrapper #ScheduleTable_length {display: none;}
#ScheduleTable_wrapper #ScheduleTable_filter {display: none;}
#SchedulesCard .date-today input {max-width: 27%;}
#SchedulesCard .date-today h6 {margin-left: 5px;font-size: 14px !important;}
#SchedulesCard .day-week .input-group a {font-size: 14px !important;}
#SchedulesCard .day-week .input-group a:hover {color:#33cabb !important;}


#SpecificSchedCard .date-today input {max-width: 27%;}
#SpecificSchedCard .date-today h6 {margin-left: 5px;font-size: 14px !important;}
#SpecificSchedCard .day-week .input-group a {font-size: 14px !important;}
#SpecificSchedCard #SpecificSchedTable_length {display: none;}
#SpecificSchedCard #SpecificSchedTable_filter {display: none;}

/*** Table Styles **/

.table-fill {background: white;border-radius:3px;border-collapse: collapse;height: 300px;margin: auto;max-width: 500px;padding:5px;width: 100%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);animation: float 5s infinite;}

.employee-department th {color:#D5DDE5;;background:#1b1e24;border-bottom:4px solid #9ea7af;border-right: 1px solid #343a45;font-size:13px;font-family:'Poppins', sans-serif;font-weight: 500;padding:.5rem;text-align:left;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);vertical-align:middle;}

.employee-department th:first-child {border-top-left-radius:3px;}

.employee-department th:last-child {border-top-right-radius:3px;border-right:none;}

.employee-department tr {border-top: 1px solid #C1C3D1;border-bottom: 1px solid #C1C3D1;color:#666B85;font-size:16px;font-weight:normal;text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);}

.employee-department tr:hover td {background:#4E5066;color:#FFFFFF;border-top: 1px solid #22262e;}

.employee-department tr:first-child {border-top:none;}

.employee-department tr:last-child {border-bottom:none;}

.employee-department tr:nth-child(odd) td {background:#EBEBEB;}

.employee-department tr:nth-child(odd):hover td {background:#4E5066;}

.employee-department tr:last-child td:first-child {border-bottom-left-radius:3px;}

.employee-department tr:last-child td:last-child {border-bottom-right-radius:3px;}

.employee-department td {background:#FFFFFF;padding:.5rem;text-align:left;vertical-align:middle;font-weight:300;font-size:12px;text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);border-right: 1px solid #C1C3D1;}

.employee-department td:last-child {border-right: 0px;}

.employee-department th.text-left {text-align: left;}

.employee-department th.text-center {text-align: center;}

.employee-department th.text-right {text-align: right;}

.employee-department td.text-left {text-align: left;}

.employee-department td.text-center {text-align: center;}

.employee-department td.text-right {text-align: right;}

.fa {font-size: 22px;  color: #F96868;  cursor: pointer; padding-right: 11px;}
input#info {margin-top: 20px;width: 180px;}
.dropdown-menu {position: absolute; will-change: top, left; top: 36px; left: 0px;}
span.title.recent-menu {margin-left: 11px;}
p.title1 {margin-left: 20px;}
p.title {margin-left: 15px;}
.media>* {margin: 0 18px;}
 
.media {padding: 11px 12px;transition: background-color .2s linear;}

#modal-add-employee .th-white { background: #FFFFFF; color: #48b0f7;}
 
#modal-add-employee .th-border-right {border-right: 1px solid #FFFFFF; margin-left: 100px;}
 .btn-green { background-color: #33cabb; border-color: #33cabb; color: #FFFFFF;}
 .btn-green-hover button:hover { background-color: #FFFFFF; border-color: #33cabb; color: #33cabb; }
 .btn-gray { background-color: #e4e7ea; border-color: #e4e7ea; color: #4d5259; }
 .btn-gray-hover button:hover { background-color: #FFFFFF; }
 .btn-red { background-color: #EF5350; border-color: #EF5350; color: #FFFFFF; }
#modal-add-employee .icon-black { color: #465161; font-size: 15px; padding-right: 0px;}
 .td-green { color: #33cabb; border-right: 1px solid #000000; }

.emp-table tr:hover td {
    background: #42A5F5;
    color: #FFFFFF;
    border-top: none;
}
.emp-table tbody tr td:first-child{
  color: #33cabb;
}
.emp-table tr:nth-child(odd):hover td {
    background: #42A5F5;
    color: #FFFFFF;
}
.emp-table tr:nth-child(even):hover td {
    background: #42A5F5;
    color: #FFFFFF;
}
.emp-table tr:nth-child(odd) td{
    background: #FFFFFF;
    color: #313944;
}
.emp-table tr td{
    background: #FFFFFF;
    color: #313944;
    border: none;
    border-bottom:1px solid #ebebe0;
}
.adjust-label label {
    margin-left: 17px;
}
 
 
.media {padding: 11px 12px;transition: background-color .2s linear;}
button.btn-fill {width: 116%;margin-left: -20px;}
 
 element.style {
    max-height: 227px;
    min-height: 0px;
}
 
#modal-add-employee .input-text-size { font-size: 16px !important; }
#modal-add-employee .emp-table tr td a:hover,
#modal-add-employee .emp-table tr:hover td a{color: white;}
#modal-add-employee .emp-table table { white-space: nowrap; }
#modal-add-employee .emp-table tr:hover td {background:#42A5F5;color:#FFF;border-top:none}
#modal-add-employee .emp-table tbody tr td:first-child{color:#FFF;}
#modal-add-employee .emp-table tbody tr td:first-child:hover{cursor: pointer;}
#modal-add-employee .emp-table tr:nth-child(odd):hover td{background:#42A5F5;color:#FFF;}
#modal-add-employee .emp-table tr:nth-child(even):hover td{background:#42A5F5;color:#FFF;}
#modal-add-employee .emp-table tr:nth-child(odd) td{background:#FFF;color:#313944}
#modal-add-employee .emp-table tr td{background:#FFF;color:#313944;border:none;border-bottom:1px solid #ebebe0}
#modal-add-employee .adjust-label label{margin-left: 17px; color: #48b0f7  !important;}
#modal-add-employee .input-text-size { font-size: 16px !important; }
#modal-add-employee .dropdown-adjust .form-group .form-group { padding-top: 0px; margin-bottom: 0px; }
#modal-add-employee .dropdown-adjust .form-group .form-group .dropdown-item { color: #465161 !important; }
#modal-add-employee .dropdown-adjust .form-group .form-group .filter-option { color: #465161 !important; font-weight: 500 !important;}
#modal-add-employee .adjust-input input{color:#465161 !important;}
.adjust-label .do-float label{opacity: 1;}
.adjust-label .form-group label{ color: #48b0f7 !important; }
.adjust-label .form-group .form-group { padding-top: 0px; margin-bottom: 0px; }
.adjust-input .form-group input{color:#465161 !important;}
.dropdown-adjust .form-group .filter-option { color: #465161 !important; font-weight: 500 !important; } 
.emp-table #date-checker:hover { cursor: pointer; }
 
.tooltip {z-index: 1000 !important;}
.table-adjust-button .btn-group button { width: 150px; }
.table-adjust-button thead tr th { }
.table-adjust-button tbody { overflow-x: auto; overflow-y: auto; width:100%; }
.table-adjust-button{ display: block; overflow-x: auto; white-space: nowrap;}
.table-adjust-button td { width: 150px; padding: 8px; padding-left: 25px;}
.btn-exit {margin-bottom: 23px;}
.card-title {margin-top: 10px;}
.modal-header.modal-dialog.modal-sm.h-20px { margin-top: 43px;}
.hide-edit {display: none;}
 
.bar{}
#modal-import-excel .emp-table tr:hover td{background:#42A5F5;color:#FFF;border-top:none; cursor: pointer;}
#modal-import-excel .emp-table tbody tr td:first-child{}
#modal-import-excel .emp-table tbody tr td:first-child:hover{cursor: pointer;}
#modal-import-excel .emp-table tr:nth-child(odd):hover td{background:#42A5F5;color:#FFF}
#modal-import-excel .emp-table tr:nth-child(even):hover td{background:#42A5F5;color:#FFF}
#modal-import-excel .emp-table tr:nth-child(odd) td{background:#FFF;color:#313944}
#modal-import-excel .emp-table tr td{background:#FFF;color:#313944;border:none;border-bottom:1px solid #ebebe0}
 
.accordion .card-title a {
    display: block;
    letter-spacing: 1px;
    padding-left: 22px;
}
.table-adjust{width: fit-content;}