// <-- SCHEDULE TABLE SECTION CUSTOMS -->
// --------------------------------------------------------------------------------

#AttendanceCard > .card-body
    table#AttendanceTable
        border-collapse: separate $i
        border-spacing: 3px $i

        // table heading customs
        thead > tr > th
            line-height: 15px $i
            background: $bg-new
            vertical-align: middle $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i
            
            &:nth-child(1)
                color: $muted $i
            
        thead > tr > .date
            width: 13% $i
            
            a
                color: $dark

                &:hover
                    color: $info $i
            
            .holiday 
                color: $paymo-red $i

        
        thead > .date-status > th
            height: 15px $i

            a
                color: $paymo-red $i
                font:
                    size: $fs-11 $i
                    weight: $fw-500 $i
                
                span 
                    padding-left: 5px $i

        // table body customs
        tbody > tr > td
            line-height: 15px $i
            height: 100px $i
            color: $dark $i
            font:
                size: $fs-12
                weight: $fw-500

        tbody > tr > .emp-name
            padding: 5px 12px $i

            a
                color: $dark
                font-size: 10px $i
                height: inherit
                display: flex 
                align-items: center 

                &:hover 
                    color: $primary $i

        // schedules
        tbody > tr 
            .emp-sched 
                padding: 5px 3px $i

                a
                    font-size: $fs-11 $i
                    height: inherit
                    display: flex 
                    align-items: center

                    .media-body 
                        margin: 0 12px $i 

                        .media-block-actions
                            justify-content: center
                            align-items: flex-start $i
                            flex-direction: column 
                            margin-top: 5px $i

                            p 
                                margin-bottom: 0 $i

                    p
                        font-size: $fs-11 $i
            
            .day-shift > a 
                border: 1px solid $paymo-blue 
                background: tint($paymo-blue, 90%) 
                color: $info 
            
            .night-shift > a 
                border: 1px solid $purple 
                background: tint($purple, 90%) 
                color: $purple  

            .day-off > a 
                border: 1px solid $paymo-red 
                background: tint($paymo-red, 90%) 
                color: $danger

                .media-body
                    display: flex $i
                    justify-content: center $i
            
            .leave > a 
                border: 1px solid $secondary
                background: #fff
                color: $dark

                .media-body
                    display: flex $i
                    justify-content: center $i
            
            .no-sched > a 
                border: none 
                background: #fff
                color: #fff

                .media-body
                    display: flex $i
                    justify-content: center $i
                
                &:hover 
                    color: $dark

            .w-error > a
                border: 1px solid $paymo-orange $i
                background: tint($paymo-orange, 90%) $i
                color: $warning $i 

                .media-body 
                    margin: 0 8px 0 0 $i



#DTRTable > thead > tr > th:first-child
    padding: 8px $i

#DTRTable > tbody > tr > td:first-child
    text-align: center $i

#DTRTable > thead > tr > th[class^="sorting"]:first-child:after,
#DTRTable > thead > tr > th[class^="sorting"]:first-child:before
    content: "" $i