// --------------------------------------------------------------------------------
//                              HR - DASHBOARD CUSTOMS
// --------------------------------------------------------------------------------




// <-- SHIFT INFO SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#ShiftInfo
    .card-title
        font:
            size: $fs-14 $i
            weight: $fw-500 $i

    table#ShiftInfoTable
        thead > tr > th
            color: $info $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        tbody > tr > td
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i




// <-- EMPLOYEE SUMMARY SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#EmployeeSummary
    .media > span
        color: $dark $i
        font:
            size: $fs-14 $i
            weight: $fw-500 $i

    h6
        margin-bottom: 0 $i
        font:
            size: $fs-12 $i
            weight: $fw-500 $i

    i[class*="ti"]
        font-size: $fs-16 $i




// <-- TO DO LIST SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#TodoList
    .card-title
        font:
            size: $fs-14 $i
            weight: $fw-500 $i

    .custom-control-label
        color: $primary $i
        font:
            size: $fs-12 $i
            weight: $fw-500 $i
            style: oblique $i




// <-- DASHBOARD CALENDAR SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#DashboardCalendar
    .card-header > .nav
        a
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        .active
            color: $info $i

    table
        thead > tr > th
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        tbody > tr > td
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i




// <-- LEAVE REQUEST SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#LeaveRequest
    .card-title
        font:
            size: $fs-14 $i
            weight: $fw-500 $i

    table#LeaveRequestTable
        thead > tr > th
            color: $info $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        tbody > tr > td
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i
