// --------------------------------------------------------------------------------
//                              HR - SCHEDULES CUSTOMS
// --------------------------------------------------------------------------------




// <-- SCHEDULE HEADER SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#OptionHeader 
    // datetimepicker customs
    .bootstrap-datetimepicker-widget
        .datepicker-days > table tbody tr
            height: 30px $i

            .active
                border-radius: 0 $i
                background: $bg-new $i
                font-weight: $fw-500 $i
                color: $info $i
            
            &:hover
                background-color: #eee

            .today
                color: $info $i

                &:before
                    border: none $i
    

    // form-control customs
    #WeeklyEntry
        width: 250px $i

        .input-group-text
            border-radius: 0 $i

        input
            border-radius: 0 $i
            color: $info
            font-weight: $fw-500 $i

            +placeholder
                color: $info
                font-weight: $fw-500 $i


            
    
// <-- SCHEDULE TABLE SECTION CUSTOMS -->
// --------------------------------------------------------------------------------

#SchedulesCard > .card-body
    table#ScheduleTable
        border-collapse: separate $i
        border-spacing: 3px $i

        // table heading customs
        thead > tr > th
            line-height: 15px $i
            background: $bg-new
            vertical-align: middle $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i
            
            &:nth-child(1)
                color: $muted $i
            
        thead > tr > .date
            width: 13% $i
            
            a
                color: $dark

                &:hover
                    color: $info $i
            
            .holiday 
                color: $paymo-red $i

        
        thead > .date-status > th
            height: 15px $i

            a
                color: $paymo-red $i
                font:
                    size: $fs-11 $i
                    weight: $fw-500 $i
                
                span 
                    padding-left: 5px $i

        // table body customs
        tbody > tr > td
            line-height: 15px $i
            height: 50px $i
            color: $dark $i
            font:
                size: $fs-12
                weight: $fw-500

        tbody > tr > .emp-name
            padding: 5px 12px $i

            a
                color: $dark
                font-size: 10px $i
                height: inherit
                display: flex 
                align-items: center

                &:hover 
                    color: $primary $i

        // schedules
        tbody > tr 
            .emp-sched 
                padding: 5px 3px $i

                a
                    font-size: $fs-11 $i
                    height: inherit
                    display: flex 
                    align-items: center

                    .media-body 
                        margin: 0 12px $i

                    p
                        font-size: $fs-11 $i
            
            .day-shift > a 
                border: 1px solid $paymo-blue 
                background: tint($paymo-blue, 90%) 
                color: $info 
            
            .night-shift > a 
                border: 1px solid $purple 
                background: tint($purple, 90%) 
                color: $purple  

            .day-off > a 
                border: 1px solid $paymo-red 
                background: tint($paymo-red, 90%) 
                color: $danger

                .media-body
                    display: flex $i
                    justify-content: center $i
            
            .leave > a 
                border: 1px solid $secondary
                background: #fff
                color: $dark

                .media-body
                    display: flex $i
                    justify-content: center $i
            
            .no-sched > a 
                border: none 
                background: #fff
                color: #fff

                .media-body
                    display: flex $i
                    justify-content: center $i
                
                &:hover 
                    color: $dark

            .w-error > a
                border: 1px solid $paymo-orange $i
                background: tint($paymo-orange, 90%) $i
                color: $warning $i 

                .media-body 
                    margin: 0 8px 0 0 $i


// <-- SCHEDULE POPOVER OPTIONS CUSTOMS -->
// --------------------------------------------------------------------------------
.popover 
    font-family: $poppins $i

#SchedOpt 
    border-radius: 0 $i
    width: 450px $i

    .arrow:after
        border-bottom-color: $dark $i

    .close 
        text-shadow: none $i 
        opacity: 1 $i

    .popover-header 
        background: $dark $i
        border-radius: 0 $i

    .popover-title 
        color: #fff $i
        font: 
            size: $fs-12 $i
            weight: $fw-500 $i

    .popover-content
        padding: 12px $i

        #ShiftTempLink
            color: $info $i
            font: 
                size: $fs-11 $i
                weight: $fw-500 $i

    .popover-content-hidden
        display: none 
            
    #AddShiftContent
        input[data-provide="clockpicker"]
            margin: 10px 0
            color: $info $i
            letter-spacing: 0 $i
            padding: 8px 12px $i
            font: 
                size: $fs-11 $i
                weight: $fw-500 $i
        
            +placeholder 
                color: $dark $i
        
        .bootstrap-select
            width: 100%

            .dropdown-toggle 
                color: $dark $i
                letter-spacing: 0 $i
                padding:
                    top: 8px $i
                    bottom: 8px $i 

                font: 
                    size: $fs-11 $i
                    weight: $fw-500 $i
    
    #LeaveSchedOpt
        margin-bottom: 0
        
        thead > tr > th
            padding: 0
            color: $muted
            font: 
                size: $fs-11 $i
                weight: $fw-500 $i
        
        tbody > tr > td
            padding: 0
            color: $dark
            font: 
                size: $fs-11 $i
                weight: $fw-500 $i
            
            a  
                font: 
                    size: $fs-11 $i
                    weight: $fw-500 $i
            
            &:nth-child(2)
                span
                    height: 30px
                    display: flex 
                    align-items: center
                    justify-content: center


// <-- SPECIFIC SCHEDULE DATE SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#SpecificSchedCard > .card-header
    h6#ScheduleDate
        color: $dark $i
        font-weight: $fw-500 $i

    button.btn-flat
        span
            padding-left: 5px

#SpecificSchedCard > .card-body
    table#SpecificSchedTable
        border-collapse: collapse $i

        // table heading customs
        thead > tr > th
            line-height: 15px $i
            color: $info $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i 

            &:last-child 

        
        thead > .day-status
            th
                padding: 12px $i

            th[class*="sorting"]:before,
            th[class*="sorting"]:after
                content: "" $i

            a 
                color: $warning $i

                span 
                    padding-left: 5px


        // table body customs 
        tbody > tr > td
            font:
                size: $fs-12
                weight: $fw-500

            color: $dark $i 


// <-- SCHEDULE INDIVIDUAL SCHED SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
// calendar styles
#IndividualSchedCalendar
    .card-header 
        padding: 10px 20px $i

        .media-body 
            line-height: 20px $i

            p:nth-child(1)
                color: $dark $i
                font:
                    size: $fs-12 $i
                    weight: $fw-500 $i
            
            p:nth-child(2)
                color: $muted $i
                font:
                    size: $fs-11 $i
                    weight: $fw-500 $i


        button.btn-flat
            span
                padding-left: 5px

    table
        thead > tr > th
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        tbody > tr > td
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

