// --------------------------------------------------------------------------------
//                               HR - TIMESHEET CUSTOMS
// --------------------------------------------------------------------------------



// <-- TIMESHEET CONTENT SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
#TimesheetContent 
    .card-header
        h6,strong 
            border-bottom: none $i
            font: 
                size: $fs-12
                weight: $fw-500 $i
    
    table 
        border-collapse: collapse $i
        // table header styles 
        thead tr th 
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        // table body styles 
        tbody tr td 
            color: $dark $i
            font:
                size: $fs-12 $i
                weight: $fw-500


// <-- TIMESHEET MODAL CONTENT SECTION CUSTOMS -->
// --------------------------------------------------------------------------------
.modal-fill
    background-image: url('../img/header/general-white.png')

#EmpTimesheetModal
    .modal-content 
        max-width: 1160px $i

    .modal-header 
        .btn 
            text-transform: capitalize $i
        
        h4 
            font-size: $fs-15 $i

    .modal-body

        .nav-tabs .active
            background: transparent $i
            border-right-width: 2px $i
            font-weight: $fw-500 $i
            color: $info $i

        .media-body > p strong 
            font:
                size: $fs-14 $i
                weight: $fw-500
        
        .media-body > p:nth-child(2)
            font-weight: $fw-500 $i
            color: $text-secondary 
        
        .tab-pane .divider 
            font:
                size: $fs-12 $i
                weight: $fw-500 $i

        .tab-pane table th,
        .tab-pane table td
            font-weight: $fw-500 $i 
        
        .card-body 
            table 
                border-collapse: collapse $i 

                thead > tr > th 
                    border-bottom: none $i
                    font:
                        size: $fs-12 $i
                        weight: $fw-500 $i
                
                tbody > tr > td  
                    font:
                        size: $fs-12 $i
                        weight: $fw-500 $i
        
    #DTRResult
        overflow: hidden $i
        height: 500px $i

@media (max-width: 1000px)
    #EmpTimesheetModal .modal-header
        margin-bottom: 30px $i

        .media
            padding: 0 15px $i

            .title
                margin-left: 8px $i

            .btn-primary
                margin-right: 8px $i

    #EmpTimesheetModal .modal-body
        flex-direction: column $i

        div[class^=col]
            max-width: 100% $i
            min-height: auto $i
            padding: 0 15px $i

        .card-body
            padding: 0 15px $i
                

                            

                                    
                    