// --------------------------------------------------------------------------------
//                                     IMPORTS
// --------------------------------------------------------------------------------

@import "bourbon/bourbon"

@import "core/variables"
@import "core/base"
@import "core/globals"

@import "modules/modules"



// ========================================================
//                 Global Custom Overrides
// ========================================================

.input-group-text 
    font: 
        size: $fs-12 $i 
        weight: $fw-500 $i





.form-type-combine .form-group  input[value],
.form-type-combine .form-group  p
    color: $dark $i
    font-weight: $fw-600 $i


.bg-ui-general .header-action .nav-link
    border-width: 2px $i





// ========================================================
//          Aside Profile Content Custom Overrides
// ========================================================

#ProfileAside .aside-body
    background:
        repeat: no-repeat
        position: center top
        size: contain


// Media Links
#ProfileAside .media
    padding: 4px $fs-16 $i 

#ProfileAside  .media .title
    color: $dark $i
    font 
        size: $fs-12 $i
        weight: normal $i



#ProfileAside  .active
    background: transparent

    .title,
    span[class^="material-"]
        color: $primary $i


#ProfileAside .card
    border-bottom: none $i


#ProfileAside .card .text-center

    h5
        color: $dark $i
        font:
            size: 13px $i
            weight: $fw-500 $i


    span.text-muted
        font:
            size: $fs-12 $i
            weight: $fw-500 $i

        &:after
            content: " | "
            padding: 0 2.5px

        &:last-child:after
            content: ""


#ProfileActions #ProfileExtraActions .btn
    padding: 5px 16px $i




#EmpTags a.badge
    border-radius: 0 $i
    border: 1px solid $info $i
    font-weight: $fw-500 $i
    font-size: $fs-12 $i
    color: $info $i
    background: transparent $i
    padding: 5px 8px $i
    margin: 3px 0 $i




// ========================================================
//               Form Layout Custom Overrides
// ========================================================

.header-bar > .text-right a span
    line-height: 1.5 $i



// General Info Form Layout
#PersonalInfoCard,
#EmploymentInfoCard,
#QualificationsCard,
#AttachmentCard,
#NotesCard
    padding: 0 $i

    .nav-tabs-light-mode
        background: $info

        .nav-link
            color: #fff

            font:
                size: $fs-12 $i
                weight: $fw-600 $i


        a.active
            color: $info


    .form-type-combine > .card-title
        border-bottom: none $i

    .tab-pane .card-title
        strong 
            font-weight: $fw-500 $i

    .form-group label
        font:
            size: $fs-11 $i
            weight:  $fw-500 $i

        color: $info $i
        text-transform: capitalize
        letter-spacing: 0


    .hide-profile-actions
        display: none

    
    table 
        border-collapse: collapse $i


    table thead  tr th
        font:
            size: $fs-12 $i
            weight: $fw-500 $i


    table tbody  tr td
        font:
            size: $fs-12 $i
            weight: $fw-500
        color: $title $i

    .dataTables_paginate,
    .dataTables_info
        display: none $i




#EmpHistory .input-group input[value],
#EmpHistory .input-group input[type="text"]
    color: $info $i
    font-weight: $fw-500 $i
    letter-spacing: 0 $i




// ========================================================
//             History timeline Custom Overrides
// ========================================================

#EmpHistoryTimeline

    small, time, .small
        font:
            family: $poppins $i
            size: $fs-12 $i


    .timeline-detail time,
    .timeline-detail small
        font-weight: $fw-500 $i
        color: $dark $i 


    .timeline-content small a
        font-weight: $fw-500 $i
        color: $primary $i




// ========================================================
//            Emp List/Grid Layout Custom Overrides
// ========================================================

#ListView .card-body table thead  tr th
    font:
        size: $fs-12 $i
        weight: $fw-500 $i


#EmpListTable > thead > tr > th:first-child,
#EmpListTable > thead > tr > th:last-child
    padding-right: 8px $i


#EmpListTable > thead > tr > th[class^="sorting"]:first-child:after,
#EmpListTable > thead > tr > th[class^="sorting"]:last-child:after,
#EmpListTable > thead > tr > th[class^="sorting"]:first-child:before,
#EmpListTable > thead > tr > th[class^="sorting"]:last-child:before,
    content: "" $i



#ListView .card-body table 
    border-collapse: collapse $i

    tbody  tr td
        font:
            size: $fs-12 $i
            weight: $fw-500
        color: $title $i 

    tbody  tr .remarks 
        font-size: $fs-11 $i

#ListView .card-body table tbody  tr td 
    line-height: 18px $i

#ListView .card-body table tbody  tr td:nth-child(2)
    font-weight: $fw-500 $i


#GridView .card-body .text-center p strong
    font:
        size: $fs-14
        weight: $fw-500

    color: $title


#GridView .card-body .text-center span
    font:
        size: $fs-12
        weight: $fw-500

    color: $muted


.header-action .nav-link
    font-weight: $fw-500 $i
    text-transform: capitalize
    color: $dark $i


.nav-item .active
    color: $info $i


@media (max-width: 560px)

    header > .header-action > .btn-group
        display: none $i


@media (min-width: 561px)

    header > .header-action > #ListUtilityBtn
        display: none $i


// ========================================================
//                   Aside Toggle Option
// ========================================================

// custom margin left animation (ml-0)
.main-container .ml-0,
.component-transition
    transition: all 300ms $i


.aside-toggle
    display: none


.aside-toggle .media-single span
    font:
        family: $poppins $i
        size: $fs-12 $i
        weight: $fw-500 $i

    color: $title $i


.aside-toggle .nav li
    margin: 2px 0 $i

    a.nav-link
        font:
            weight: $fw-500 $i
            style: oblique
        color: $primary $i

    .badge 
        font-size: $fs-12 $i
        color: $dark $i 

    span
        font
            size: $fs-12 $i 
            weight: $fw-500 $i
        color: $dark $i 





// ========================================================
//         Quickview, Modals Input Custom Overrides
// ========================================================

[id*="qv"] input,
[id*="qv"] textarea,
[id*="qv"] select > option,
[id*="modal"] input,
[id*="modal"] textarea,
[id*="modal"] select > option,
    color: $info $i

    +placeholder
        font-weight: 400 $i
        color: $title $i

.quickview-title,
.modal-title 
    font-weight: normal $i

.bootstrap-select .btn span 
    font-weight: $fw-600 $i 
    color: $dark $i


.bootstrap-tagsinput  [class*="badge"]
    color: $info $i
    font:
        size: $fs-12 $i
        weight: $fw-500 $i

    border-radius: 0 $i
    background: transparent $i
    border: 1px solid $info $i
    margin: 5px 2px $i
    padding: 3px 8px
    height: auto


// ========================================================
//         Timesheet Content Layout Custom Overrides
// ========================================================

.header input[value]
    color: $info $i
    font-weight: $fw-500 $i


.header h4.card-title
    font-size: $fs-14 $i






// ========================================================
//    Employee List Actions Replacement Custom Overrides
// ========================================================


#ListView .dataTables_wrapper .row:first-child
    display: flex $i
    justify-content: flex-end  $i

    div:first-child
        order: 2

    .dataTables_length
        display: flex $i
        justify-content: flex-end 


#ListView .dataTables_length label
    display: flex
    margin-bottom: 0
    align-items: center


    
.cr-boundary 
    width: 100% $i